/* Toast.css */

.toast {
    animation: fade-in 250ms ease-in-out;
}

.stacked-toast {
    animation: slide-up 250ms ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px); /* Adjust the value based on your design */
    }
}
